<!-- l -->
<app-nav></app-nav>
<div class="gray-bg">
    <div class="wrapper animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="widget p-md lazur-bg">
                                <div class="row">
                                    <div class="col-xs-4 text-center">
                                        <i class="fa fa-inr fa-5x"></i>
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <h2> Today spend </h2>
                                        <h1 class="font-bold"> Rs. 232</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="widget text-center p-md red-bg">
                                <h1>
                                    Hey Siva, Here is your this month spends
                                </h1>
                                <p>
                                    Your spent got increased by 10% and for <b>food</b> you spent more than other things ; )
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <i class="fa fa-cutlery fa-3x" aria-hidden="true"></i>

                                </div>
                                <div class="ibox-content">
                                    <h1 class="no-margins">Rs. 2088</h1>
                                    <div class="stat-percent font-bold text-success">2% <i class="fa fa-level-up"></i></div>
                                    <small>Increased by</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <i class="fa fa-money fa-3x" aria-hidden="true"></i>
                                </div>
                                <div class="ibox-content">
                                    <h1 class="no-margins">Rs. 808</h1>
                                    <div class="stat-percent font-bold text-danger">12% <i class="fa fa-level-down"></i></div>
                                    <small>Decreased by</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <i class="fa fa-plane fa-3x" aria-hidden="true"></i>

                                </div>
                                <div class="ibox-content">
                                    <h1 class="no-margins">Rs. 443</h1>
                                    <div class="stat-percent font-bold text-success">12% <i class="fa fa-level-up"></i></div>
                                    <small>Increased by</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <i class="fa fa-shopping-cart fa-3x" aria-hidden="true"></i>
                                </div>
                                <div class="ibox-content">
                                    <h1 class="no-margins">Rs. 698</h1>
                                    <div class="stat-percent font-bold text-success">2% <i class="fa fa-level-up"></i></div>
                                    <small>Increased by</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <i class="fa fa-heartbeat fa-3x" aria-hidden="true"></i>
                                </div>
                                <div class="ibox-content">
                                    <h1 class="no-margins">Rs. 108</h1>
                                    <div class="stat-percent font-bold text-success">12% <i class="fa fa-level-up"></i></div>
                                    <small>Increased by</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <i class="fa fa-shopping-cart fa-3x" aria-hidden="true"></i>
                                </div>
                                <div class="ibox-content">
                                    <h1 class="no-margins">Rs. 908</h1>
                                    <div class="stat-percent font-bold text-success">12% <i class="fa fa-level-up"></i></div>
                                    <small>Increased by</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div id="chartdiv" style="max-height:300px"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox-content">
                    <div>
                        <div>
                            <h1 class="pull-right">65% <small> of your budget</small></h1>
                            <h2>You have reached</h2>
                        </div>
                        <div class="progress progress-small">
                            <div style="width: 65%;" class="progress-bar"></div>
                        </div>
                        <ul class="category-list" style="padding: 5px 0px;">
                            <li>
                                <a href="#"> <i class="fa fa-circle text-navy"></i> Shopping occupied 20 % of your spend</a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-circle text-danger"></i> Travel occupied 13 % of your spend</a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-circle text-primary"></i> Food items occupied 15 % of your spend</a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-circle text-info"></i> Loan occupied 30 % of your spend</a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-circle text-warning"></i> Other spends occupied 17 % of your spend</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <h2>Upcoming EMIs and Bills</h2>
                        <small>List of payments to be done every month</small>
                        <ul class="todo-list m-t small-list">
                            <li>
                                <a href="#" class="check-link"><i class="fa fa-check-square"></i> </a>
                                <span class="m-l-xs todo-completed">Bike EMI - 2,000</span>
                            </li>
                            <li>
                                <a href="#" class="check-link"><i class="fa fa-check-square"></i> </a>
                                <span class="m-l-xs  todo-completed">Phone bills - 1300</span>
                            </li>
                            <li>
                                <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                                <span class="m-l-xs">Credit card bill - 20,000</span>
                            </li>
                            <li>
                                <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                                <span class="m-l-xs">Go to the doctor dr Smith</span>
                            </li>
                            <li>
                                <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                                <span class="m-l-xs">Plan vacation</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END -->